<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.2, Version=12.2.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.2, Version=12.2.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.15.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=NOMEISTANZASQLSERVER;Initial Catalog=DATABASE;User ID=UTENTE;Password=PASSWORD" providerName="System.Data.SqlClient" />
    <add name="Database1" connectionString="metadata=res://*/Database.DB1.csdl|res://*/Database.1.DB.ssdl|res://*/Database.DB1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOMEISTANZASQLSERVER;initial catalog=DATABASE1;user id=UTENTE;password=PASSWORD;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Database2" connectionString="metadata=res://*/Database.DB2.csdl|res://*/Database.2.DB.ssdl|res://*/Database.DB2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOMEISTANZASQLSERVER;initial catalog=DATABASE1;user id=UTENTE;password=PASSWORD;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Database3" connectionString="Data Source=NOMEISTANZASQLSERVER;Initial Catalog=DATABASE;User ID=UTENTE;Password=PASSWORD" providerName="System.Data.SqlClient" />
    <add name="Database4" connectionString="metadata=res://*/Database.DB4.csdl|res://*/Database.4.DBMKT.ssdl|res://*/Database.4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOMEISTANZASQLSERVER;initial catalog=DATABASE4;user id=UTENTE;password=PASSWORD;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB1" connectionString="metadata=res://*/Database.DB1.csdl|res://*/Database.DB1.ssdl|res://*/Database.DB1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOMEISTANZASQLSERVER;initial catalog=DATABASE;user id=UTENTE;password=PASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB2" connectionString="metadata=res://*/Database.DB2.csdl|res://*/Database.DB2.ssdl|res://*/Database.DB2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NOMEISTANZASQLSERVER;initial catalog=DATABASECFG;user id=UTENTE;password=PASSWORD;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB3" connectionString="Data Source=NOMEISTANZASQLSERVER;Initial Catalog=DATABASENAME;User ID=USERNAME;Password=PASSWORD" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <devExpress>
    <compression enableResourceMerging="true" />
    <themes enableThemesAssembly="false" />
  </devExpress>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Codifica (ISO 639) della lingua di default -->
    <add key="DefaultLanguageCode" value="it" />
    <!-- Nome della lingua di default. -->
    <add key="DefaultLanguageLabel" value="Italiano" />
    <!-- Codice che identifica univocamente il database -->
    <add key="DatabaseCompanyName" value="DATABASE" />
    <!-- Codice che identifica univocamente il database 1 -->
    <add key="Database1Name" value="DATABASE1" />  
    <add key="CompanyEmailAddress" value="no-reply@azienda.com" />
    <!--
      Tag html visualizzabili nelle news. ad esempio per l'inclusione di video da youtube.
      "allowedNewsTagPrefix" identifica il prefisso delle chiavi che specificano il tag.
      Il valore delle chiavi che iniziano con tale prefisso dovranno identificare un tag HTML.
      
      formati concessi (es.)
      <iframe> ...... </iframe>
      <iframe ........ ></iframe>
    -->
    <add key="allowedNewsTagPrefix" value="allowedNewsTag_" />
    <add key="allowedNewsTag_iframe" value="iframe" />
    <add key="statesInSubscribedCalendar" value="A,R" />
    <add key="addresses_in_filter_contacts" value="true" />
    <add key="reference_names_in_filter_contacts" value="true" />
    <add key="default_last_months_in_contact_action_notes_summary" value="24" />
    <add key="pathUploadAttachments" value="\\SERVER\UPLOAD\" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="SERVERSMTP" userName="USERNAMESMTP" password="PASSWORDSMTP" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1"/>
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="500.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="404.aspx" />
    </customErrors>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5.1" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="20" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="DATABASE" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="DATABASE1" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="DATABASE1" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="DATABASE1" />
      </providers>
    </roleManager>  
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>